@charset "utf-8";

/*
	font-family: 'Bebas Neue', cursive;
	font-family: 'Noto Sans KR', sans-serif;
	font-family: 'Nanum Pen Script', cursive;
	font-family: 'Sunflower', sans-serif;
	font-family: 'Jua', sans-serif;
	font-family: 'Cute Font', cursive;
	font-family: 'Single Day', cursive;
*/
		
*{font-family: 'Jua', sans-serif; list-style : none; margin:0px; padding:0px; }
html,body{background-color: black;}
a{text-decoration:none; color:black;}
.top_header{background-color:black; color:white;}
.top_header{margin:0px;  height:160px;}
.top_header > li{float:left;}
.top_title{width:30%; text-align: center; font-size:70px; padding: 30px 10px;}
.top_sunwi{width:10%; font-size: 40px; padding:20px; background-color: #a9a9a9;}
.top_extwi{width:60%; font-size: 20px;}
.top_extwi > ul >li{padding : 5px 0px;}
.top_headli {width:6%;}
.top_headli > a >img{width:100%; height:100%;}

#table{background-color: black; color:white; padding-top:15px;}

.top_header > li {display: inline-block; height:100%;}
.header{background-color:black; color:white;}
.inline{display:inline-block; padding: 0px 15px; width:20%;}
.inline > li {font-size:20px;}
.inline > li > img{width:100%; height:200px;}

#movieimg{width:100%; height:300px; border-radius : 15px;}
#movieimg > img{width:100%; height:100%;}

#mainvideo{background-color: black; height:700px; display: none; transition : all ease 2s;}

#searchtext{height:70px; margin : 10px 0px; border: 2px solid #ddd; width:100%; font-size:35px; border-radius: 5px; padding : 0px 10px;}
#searchic{position: absolute; font-size:35px; top:25px; right:35px; color:black;}

.moviright{color:white; padding-top:10px;}
.moviright > li{display: inline-block; float:left; font-size:14px;}
.moviright::after{content: ""; clear: both; display: block;}
